.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-style: solid none;
    height: 640px;
    border-color: rgb(238, 235, 235);
    padding: 30px;
    font-family: 'sans-serif', 'Arial';
}

.info{
    position: relative;
    top: 150px;
    border: none;
    width: 500px;
    left: 70px;
    height: 500px;
}

.info-title{
    font-size: 50px;
    font-weight: bolder;
    line-height: 60px;
    background-color: red;
    background-image: linear-gradient(45deg, #f26508, #0bf286);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin-bottom: 30px;
}

.info-body{
    font-size: 27px;
}

span{
    font-weight: bold;
}

p{
    color: rgb(104, 103, 103);
}

button{
    background-color: #b9ddf5;
    color: black;
    background-image: linear-gradient(to top, rgb(209, 238, 247), rgb(249, 218, 223));
    font-size: 18px;
    font-weight: bold;
    padding: 18px 20px;
    border: none;
    margin-top: 30px;
    margin-left: 40px;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0,0,0,0.15);
}
.review-container{
    position: relative;
    top: 95px;
    border: none;
    height: 450px;
    overflow-y: scroll;
    width: 100%; 
}

.review-container::-webkit-scrollbar { 
    width: 12px; 
} 

.review-container::-webkit-scrollbar-track { 
    background: rgb(238, 235, 235); 
    border-radius: 10px;
} 

.review-container::-webkit-scrollbar-thumb { 
    background: #66CDAA; 
    border-radius: 10px;
} 

.review-container::-webkit-scrollbar-thumb:hover { 
    background: #66CDAA; 
} 

.review-container::-webkit-scrollbar-button { 
    display: none; 
}
  


.block{
    background-color: rgb(238, 235, 235);
}

.review-item {
  position: relative;
  margin-bottom: 35px;
  padding: 12px;
  background-color: #fff;
  border: 4px solid rgb(238, 235, 235);
  border-left: 8px solid rgb(238, 235, 235);
  transition: transform 0.3s ease; 
  margin-left: 110px;
  margin-right: 60px;
  cursor: pointer;
}

.review-item:hover {
  transform: translateX(-100px);
  border-left: 8px solid #F08080;
}

.review-content {
  display: flex;
  align-items: center;
}

.reviewer-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.review-text {
  flex: 1;
}

h3 {
  margin-bottom: 8px;
}

p {
margin: 0;
color: #666;
}

  
  